textarea {
    min-height: 400px;
}

.ul{
    list-style-type: none;
}

.div-unread{
    color:black; 
    border: 1px solid black; 
    margin:0px; 
    padding:5px;
    display: flex;
    justify-content: space-between;
    align-items:center;
}

.sender{
    margin-right:20px;
    font-weight:bold;
}

.timestamp {
    margin-right:0;
    margin-left:auto;
}

.div-read{
    color:black; 
    background-color:gray;
    border: 1px solid black; 
    margin:0px; 
    padding:5px;
    display: flex;
    justify-content: space-between;
    align-items:center;
}


.button{
    color:#007BFF;
    background-color: white;
    border: 1px solid #007BFF;
    border-radius: 3px;
    margin-right:5px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size:17px;
}

.button:hover{
    color:white;
    background-color: #007BFF;
    border: 1px solid white;
}